<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Devoxx BE 2014</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">

    {{#days}}
    <h1>{{name}}</h1>
    {{#planning}}
        {{#room}}
            <div class="row">
               <div class="col-md-1">{{name}}</div>
                {{#slots}}
                    <div class="col-md-1">{{toTime}} ==> {{displayName}}</div>
                {{/slots}}
            </div>
        {{/room}}
    {{/planning}}
    <hr/>
    {{/days}}
</div>
</body>
</html>